To perform data cleaning on the Titanic dataset by identifying and handling missing values, correcting data types, removing duplicates, and preparing the dataset for further analysis or modeling.


Dataset Description
The Titanic dataset provides information about passengers aboard the Titanic. It includes features such as:

PassengerId: Unique identifier for each passenger.
Survived: Survival status (0 = No, 1 = Yes).
Pclass: Ticket class (1 = 1st, 2 = 2nd, 3 = 3rd).
Name, Sex, Age: Demographic details.
SibSp, Parch: Number of relatives aboard.
Ticket, Fare, Cabin: Ticket details.
Embarked: Port of embarkation (C = Cherbourg, Q = Queenstown, S = Southampton).

IMPORTING LIBRARIES

In [2]:
import pandas as pd
import numpy as np

LOADING DATASET

In [3]:
df = pd.read_csv("Titanic-Dataset.csv")
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

DATASET INFORMATION

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

CHECKING FOR MISSING VALUES

In [6]:
# check missing values Column-wise

missing_values = df.isna().sum()
print("Missing values in each column : ")
print(missing_values)

Missing values in each column :
PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [7]:
# Check missing values in Rows

missing_values_row = df.isna().sum(axis=1)
print("Missing values in each row:")
print(missing_values_row)

Missing values in each row:
0      1
1      0
2      1
3      0
4      1
      ..
886    1
887    0
888    2
889    0
890    1
Length: 891, dtype: int64

HANDLING MISSING VALUES IN COLUMNS

In [8]:
# Fill missing values in 'Age' with the mean
df['Age'] = df['Age'].fillna(df['Age'].mean())

# Drop 'Cabin' column due to too many missing values
df = df.drop(columns=['Cabin'])

# Fill missing values in 'Embarked' with the mode
df['Embarked'] = df['Embarked'].fillna(df['Embarked'].mode()[0])

# Check missing values after handling
print("Missing values after handling columns:")
print(df.isna().sum())

Missing values after handling columns:
PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Embarked       0
dtype: int64

HANDLING MISSING VALUES IN ROWS

In [9]:
# Drop rows with more than a threshold of missing values (e.g., 2)
df = df[df.isna().sum(axis=1) <= 2]

# Fill remaining missing values row-wise
df['Age'] = df['Age'].fillna(df['Age'].median())    # Fill 'Age' with median
df['Embarked'] = df['Embarked'].fillna('Unknown')  # Fill 'Embarked' with a placeholder

# Check missing values after handling rows
print("Missing values after handling rows:")
print(df.isna().sum())

Missing values after handling rows:
PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Embarked       0
dtype: int64

CHECK FOR DUPLICATES ROWS IN dataset

In [15]:
duplicates = df.duplicated().sum()
print("\nNumber of duplicated rows:", duplicates)

Number of duplicated rows: 0

In [16]:
# shape of dataset
df.shape

(891, 11)

CORRECTING DATA TYPES

In [21]:
df['Pclass'] = df['Pclass'].astype('category')
df['Sex'] = df['Sex'].astype('category')
df['Embarked'] = df['Embarked'].astype('category')
df['Survived'] = df['Survived'].astype(bool)

In [20]:
print(df.columns)

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Embarked'],
      dtype='object')

TO VERIFY DATA TYPES after correction

In [24]:
print("\nData types after correction : ")
print(df.dtypes)

Data types after correction :
PassengerId       int64
Survived           bool
Pclass         category
Name             object
Sex            category
Age             float64
SibSp             int64
Parch             int64
Ticket           object
Fare            float64
Embarked       category
dtype: object

CREATE ISALONE and FAMILYSIZE FEATURE

In [5]:
# Create the FamilySize feature
df['FamilySize'] = df['SibSp'] + df['Parch'] + 1  # Add 1 to include the passenger themselves

# Create the IsAlone feature
df['IsAlone'] = (df['FamilySize'] == 1).astype(int)  # 1 if FamilySize is 1, otherwise 0

# Display the first few rows of new feature
print(df[['SibSp', 'Parch', 'FamilySize', 'IsAlone']].head())

   SibSp  Parch  FamilySize  IsAlone
0      1      0           2        0
1      1      0           2        0
2      0      0           1        1
3      1      0           2        0
4      0      0           1        1

EXPORTING CLEANED DATA

In [6]:
# save cleaned data to new CSV file and excel file

# Specify the filename and path
output_file = "Titanic_cleaned_data.csv"

# Export the cleaned dataset to a CSV file
df.to_csv(output_file, index=False)

print(f"Cleaned data has been successfully exported to {output_file}")

Cleaned data has been successfully exported to Titanic_cleaned_data.csv

In [7]:
output_file = "Titanic_cleaned_data.xlsx"

# Export the cleaned dataset to an Excel file
df.to_excel(output_file, index=False)

print(f"Cleaned data has been successfully exported to {output_file}")

Cleaned data has been successfully exported to Titanic_cleaned_data.xlsx